<div class="row">
    <div class="col-4">
        <a href="/fetch-model/new" class="btn btn-info w-full"
            >New Cars</a>
    </div>
    <div class="col-4">
        <a href="#" class="btn btn-info w-full"
            >Used Cars</a>
    </div>
    <div class="col-4">
        <a href="#" class="btn btn-info w-full"
            >All Cars</a>
    </div>        
</div>
